<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}{% endblock title%}</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/base-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/buttons-min.css">
    <link rel="stylesheet" href="../css/pure-theme.css">
  {% endblock head %}
</head>

<body class="pure-skin-red">
  <div id="header" class="grid">
    {% block header %}
    <div id="header-title-div" class="grid-cell u2-3">
      {% block header_title %}
      <span class="page-title">{{ self.title() }}</span>
      {% endblock header_title %}
    </div>
    <div id="header-button-div" class="grid-cell u1-3">
      {% block header_button %}
      {% endblock header_button %}
    </div>
    {% endblock header %}
  </div>
  
  <div id='content'>
    {% block content %}
    
    {% endblock content %}
  </div>
</body>

{% block scripts %}
  <script type="text/javascript" src="../js/vendor/jquery.min.js"></script>
{% endblock scripts %}
</html>